
<button id="cart-btn">
  Get Cart
</button>

<script>

console.log("script loaded");

document.querySelector("#cart-btn")
.addEventListener("click", () => {

    console.log("button clicked");

    fetch("/cart.js")
    .then(response => {
        console.log("response received");
        return response.json();
    })
    .then(data => {
        console.log("cart data");
        console.log(data);
    })
    .catch(error => {
        console.log("fetch error");
        console.log(error);
    });

});

</script>









</script>
{% schema %}
{
  "name": "Practice",
  "settings": [
    {
      "type": "select",
      "id": "grid_item_width",
      "label": "t:labels.grid_item_width",
      "options": [
        { "value": "collections--compact", "label": "t:options.size.small" },
        { "value": "collections--full", "label": "t:options.size.large" }
      ],
      "default": "collections--full"
    },
    {
      "type": "range",
      "id": "grid_gap",
      "label": "t:labels.grid_gap",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "default": 10
    }
  ],
  "presets": [{ "name": "Practice" }]
}


{% endschema %}