<button class="cart btn btn-primary">Get Cart Item</button>





{% javascript %}
console.log("script loaded");
let cartData = document.querySelector(".cart")
cartData.addEventListener("click",()=>{
console.log("butn loaded")

fetch("/cart.js")
.then(response=>{return response.json()})
.then(data=> {
  console.log(data);
  console.log(data.item_count);
  console.log(data.total_price);
})

})
  
{% endjavascript %}









{% schema %}
{
  "name": "Practice",
  "settings": [
    {
      "type": "select",
      "id": "grid_item_width",
      "label": "t:labels.grid_item_width",
      "options": [
        { "value": "collections--compact", "label": "t:options.size.small" },
        { "value": "collections--full", "label": "t:options.size.large" }
      ],
      "default": "collections--full"
    },
    {
      "type": "range",
      "id": "grid_gap",
      "label": "t:labels.grid_gap",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "default": 10
    }
  ],
  "presets": [{ "name": "Practice" }]
}


{% endschema %}